.Bannercarousel{
  height: 200px;
}
.carousel .thumbs{
  display: none;
}
.carousel .control-dots .dot{
  background-color: rgb(0, 255, 8) !important;
}
/* .Carousel_part{
  margin-top: 30px;
} */
.Navbar{
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #eaddd8;
  /* position: fixed;
  top: 1px;
  z-index: 1; */
}
.searchbar{
  display: none;
}
.NavbarElement p{
  position: relative;
  bottom: 20px;
}
.NavbarElement{
  margin-left: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NavbarElement , a , p{
  text-decoration: none;
}
.jjfwLM{
  width: 110px;
}
.OVerFlowXCarousel{
  border: 2px solid red;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding: 10px;
  margin: 5px;
}
.scrollbehaviourd::-webkit-scrollbar  ,.Sylo_main_div::-webkit-scrollbar{
  display: none;
}

/* SyloSelectELements */
.Sylo_main_div{
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  margin-top: 15px;
  margin-bottom: 60px;
  border-bottom: 4px solid rgb(255, 0, 153);
  padding: 14px;
}
.Chipcolor{
  background: radial-gradient(rgb(112, 79, 247) , rgb(66, 254, 82));
 
}
.aa , .af{
  border-radius: 10px;
  background: linear-gradient(rgba(57, 143, 57, 0.538) , rgba(214, 214, 76, 0.511));
}
.ab , .ae{
  border-radius: 10px;
  background: linear-gradient(yellow ,rgb(242, 211, 211));
}
.ac , .ag{
  border-radius: 10px;
  background: linear-gradient(rgba(187, 41, 187, 0.675) , orange);
}
.ad , .ah {
  border-radius: 10px;
  background: linear-gradient(rgb(237, 77, 77) , rgb(194, 54, 194));
}
.ai{
  border-radius: 10px;
  background: linear-gradient(rgba(165, 135, 52, 0.538) , rgba(164, 245, 3, 0.667));

}
.Customer_review , .Customer_review2{
  height: 300px;
  width: 300px;
  border: 2px solid;
  box-shadow: 2px 2px 4px rgb(47, 47, 47) , -2px -2px 4px rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.one{
  background: url("../src//assets/men.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.two{
  background: url("../src//assets/wmen1.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.three{
  background: url("../src//assets/men2.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.four{
  background: url("../src//assets/men3.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.five{
  background: url("../src//assets/wmen2.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.six{
  background: url("../src//assets/men4.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.seven{
  background: url("../src//assets/men5.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.eight{
  background: url("../src//assets/wmen1.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Icons_video{
  font-size: 7rem !important;
  color: white;
}
.Customer_mainDiv::-webkit-scrollbar{
    display: none;
}

/* last section */
.Images_section{
  background: url("../src/assets/photo.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
.xfgh_ere{
  background: url("../src/assets/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.xfgh_erf{
  background: url("../src/assets/photo2jfif.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.xfgh_erg{
  background: url("../src/assets/photo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.xfgh_erh{
  background: url("../src/assets/photo4jfif.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.xfgh_eri{
  background: url("../src/assets/photo5.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.xfgh_erj{
  background: url("../src/assets/photo6.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.xfgh_erk{
  background: url("../src/assets/photo7.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.Container-All_card{
  display: flex;
  overflow-x: scroll;
  gap: 19px;
  margin: 10px;
  padding: 10px;
}
.Container-All_card::-webkit-scrollbar{
  display: none;
}
.dotSizee{
  font-size: 40px;
}
.respo{
  height: 110px;
  width: 400px;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px){
.eHhdKf {
    grid-template-columns: repeat(15 ,37%) !important;
    grid-template-rows: 1fr;
}
.fOAmUs{
  grid-template-columns: repeat(15 ,37%) !important;
}
}
@media only screen and (max-width: 600px) {
  .Navbar {
    position: fixed;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 100%;
    background-color: #eaddd8;
  }
  .Container-All_card{
    display: flex;
    flex-direction: column;
  }
  .respo{
    width: 90vw;
    margin: 13px;
  }
  .searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchbar>input{
    width: 95vw;
    margin: 10px;
    height: 50px;
    border-radius: 20px;
    padding: 16px;
    border: none;
    box-shadow: inset 2px 2px 3px rgb(55, 55, 55) , inset -2px -2px 3px rgb(148, 147, 147);
    margin-top: 13px;
  }
}